h1{
    color: red;
}
h2{
    color: #00ff00;
}
h3{
    color: rgb(0, 0, 255);
}
h4{
    color: rgba(255, 165, 0, 0.5);
}
h5{
    color: hsl(300, 100%, 50%);
}
h6{
    color: hsla(60, 100%, 50%, 0.8);
}